<div
    class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-primary-color to-deep-dark m-0 p-0 gap-8">
    <div class="flex flex-col items-center gap-1">
        <img class="rounded-full w-30 h-30" src="/logo.png" alt="">
        <h2 class="text-5xl text-smooth-white text-center font-bold font-segoe ui ">The Rogue <span
                class="text-emerald">Dev</span></h2>
        <p class="text-2xl text-center text-smooth-white m-3">Evolua a cada run.</p>
    </div>
    <div
        class="flex aling-center just-center flex-col bg-primary-color w-100 h-120 rounded-2xl shadow-lg shadow-deep-dark">
        <div class="flex flex-col p-6 gap-2">
            <h2 class="text-2xl text-center text-smooth-white">Acessar sua conta</h2>
            <p class="text-1x1 text-center text-smooth-white">Entre com suas credencias para continuar</p>
        </div>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col justify-center items-center gap-2">
                <label class="flex flex-col gap-2 text-smooth-white" for="user">Usuário<input
                        class="bg-deep-dark w-60 h-10 rounded-sm p-4" type="text" id="user"
                        placeholder="Digite seu Usuário"></label>
            </div>
            <div class="flex flex-col justify-center items-center">
                <label class="flex flex-col gap-2 text-smooth-white" for="password">Senha<input
                        class="bg-deep-dark w-60 h-10 rounded-sm p-4" type="password" id="password"
                        placeholder="Digite sua senha"></label>
            </div>
            <div class="flex flex-col justify-center items-center p-4">
                <label class="flex flex-row gap-2 text-smooth-white" for="remember">Lembrar de mim <input
                        type="checkbox" id="remember"></label>
            </div>
        </div>
        <div class="flex justify-center p-4"><button class="bg-emerald w-25 h-10 text-center text-smooth-white rounded-sm trasiton delay-100 duration-200 
            ease-in-out hover:scale-106 hover:bg-secondary-color ">Entrar</button></div>
    </div>
</div>