@import "tailwindcss";

@theme {
    --color-primary-color: #171F27;
    --color-secondary-color: #1E2933;
    --color-emerald: #2EC0AD;
    --color-lg-grey: #ACB8BA;
    --color-deep-dark: #0E141B;
    --color-smooth-white: #F5F7F8;
}

* {
    box-sizing: border-box;
}

html {
    font-family: segoe UI;
    height: 100%;
    margin: 0;
}